CONFIG_MIPS=y
CONFIG_TARGET_PIC32MZDASK=y
CONFIG_SYS_LITTLE_ENDIAN=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_HUSH_PARSER=y
CONFIG_CMD_NET=y
# CONFIG_CMD_TFTPPUT is not set
CONFIG_CMD_TIME=y
# CONFIG_CMD_FPGA is not set